@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.nav {
  width: 100vw;
  height: 10vh;
  box-shadow: 0px 0px 5px black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10000;
  top: 0;
  position: fixed;
}

.nav_title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav_name {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nav_links{
  width: 32vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.nav_logo {
  width: 100px;
  height: 50px;
  margin-right: 10px;
}

.nav_gdg {
  font-size: 2.5rem;
  font-weight: 700;
}

.nav_iiit {
  font-size: 0.95rem;
  font-weight: 400;
}

#search{
  height: 5vh;
  padding-left: 20px;
  width: 20vw;
  background-color: whitesmoke;
  color: black;
  box-shadow: 0px 0px 5px 1px black;
  border: 0;
  border-radius: 50px;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.hero_title{
  z-index: 3;
  width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_logo{
  width: 150px;
  height: 75px;
  margin-bottom: 170px;
}

.hero_heads{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero_gdg{
  font-size: 3rem;
  font-weight: 700;
}

.hero_iiit{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 5px;
}

.hero img{
    position: absolute;
    pointer-events: none;
}

.green_up{
  top: -100px;
  left: -100px;
  z-index: 6;
}

.green_bottom{
  bottom: -100px;
  right: -100px;
  z-index: 6;
}

.yellow_up{
  top: -100px;
  left: -100px;
  z-index: 0;
}

.yellow_bottom{
  bottom: -100px;
  right: -100px;
  z-index: 0;
}

.yellow_dotted{
  bottom: 0;
  left: 0;
  z-index: 1;
}

.blue_flower{
  bottom: 100px;
  left: 100px;
  z-index: 2;
}

.red_quad{
  right: 0;
  top: -80px;
  z-index:1
}

.white_balls{
  top: -50px;
  left: 0;
  z-index: 10;
}

.white_dots{
  bottom: 10px;
  right: 300px;
  z-index: 10;
}

.WavyLines{
  bottom: 0;
  right: 50px;
  z-index: 10;
}

.red_blue_circle{
  top: 280px;
  right: 0;
  z-index: -1;
}

.red_dots{
  top: 220px;
  right: 0;
  z-index: 5;
}

.events_section{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 20;
  padding-bottom: 40px;
}

.event-container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #FFE5E5;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.strip-image{
  box-shadow: 0px 0px 10px 2px black;
}

.event-poster img {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

.event-details {
  margin-left: 20px;
  flex: 1;
}

.event-details h2 {
  font-size: 24px;
  color: #333;
}

.event-details p {
  font-size: 16px;
  color: #555;
}

.event-buttons {
  margin-top: 20px;
}

.register-btn, .know-more-btn {
  padding: 10px 20px;
  border: 2px solid #000; 
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.register-btn {
  background-color: #4387F6;
  color: white;
}

.know-more-btn {
  text-decoration: none;
  background-color: #34C759;
  color: white;
}

.events_hero_bottom{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.event-filter {
  text-align: center;
  margin: 20px 0;
}

#event-filter {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}


.strip-image {
  width: 100%;
  max-width: 1900px;
}

.timeline-container {
  height: 20vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.timeline-logo {
  top: 0;
  left: 0;
  width: 150px;
  height: auto;
  margin-right: 20px;
  translate: 0 -2px;
}

.timeline-track::before {
  content: '';
  position: absolute;
  top: -6%;
  left: 14.4vw;
  right: 6vw;
  height: 1vh;
  background-color: #ff6b6ba6;
  z-index: 0;
  transform: translateY(88px);
}

.timeline-slider {
  width: 60vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
}

.timeline-slider::-webkit-scrollbar {
  display: none;
}

.timeline-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.timeline-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: start;
  gap: 40px;
}

.timeline-item {
  text-align: center;
  position: relative;
  min-width: 150px;
  margin-right: 40px;
  scroll-snap-align: center;
}

.timeline-item .dot {
  width: 20px;
  height: 20px;
  background-color: #FF6B6B;
  border-radius: 50%;
  border: 5px solid #ffffff; 
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.arrow{
  height: 40px;
  right: 0;
  translate: 0 -30px;
}


.timeline-item p {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}

.videos-strip{
  box-shadow: 0px 0px 10px 2px black;
}

.videos-section {
  box-shadow: 0px 0px 10px 2px black;
  z-index: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  padding-bottom: 40px;
  width: 100vw;
  background-color: white;
  position: relative;
}

.heading {
  font-size: 4vw;
  color: #000000; 
}

.red_quad_videos{
  position: absolute;
  top: 200px;
  right: 0;
}

.red_flower_videos{
  position: absolute;
  top: 380px;
  left: 30px;
}

.green_dots_videos{
  position: absolute;
  top: 300px;
  left: 0px;
}

.red_dots_videos{
  position: absolute;
  top: 510px;
  right: 0;
}

.green_plus_videos{
  position: absolute;
  top: 430px;
  right: 100px;
}

.blue_star_videos{
  position: absolute;
  top: 580px;
  right: 30px;
}

.weird_circle_videos{
  position: absolute;
  top: 520px;
  left: 0;
}

h3 {
  font-size: 1rem;
  color: black; 
  margin: 20px 0;
  left: 0;
}

.main-video {
  position: relative;
  margin: 20px 0;
}

.main-video iframe {
  width: 50vw;
  height: 28.125vw;
  border: none;
}

.video-info {
  text-align: left;
  margin-top: 10px;
}

.video-title {
  font-weight: bold;
}

.video-date {
  font-style: italic;
}

.youtube-link {
  color: #1976d2;
  text-decoration: none;
}

.description {
  margin: 2vh 15vw;
  font-size: 1.2vw;
}

.video-thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnail {
  cursor: pointer;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail img {
  width: 20vw;
  height: 12vw;
  border-radius: 5px;
  padding: 2.5vh;
}

.thumbnail p {
  margin-top: 5px;
}

.talks {
  color: #0F9C57;
  font-weight: bolder;
  font-size: 3vh;
}

.headline {
  color: #F9BA03;
  font-weight: bolder;
  font-size: 3vh;
}

.recap {
  color: #E24234; 
  font-weight: bolder;
  font-size: 3vh;
}

.workshops {
  color: #4186F3;
  font-weight: bolder;
  font-size: 3vh;
}

.gallery_hero {
  width: 100vw;
  z-index: 30;
  box-shadow: 0px 0px 10px 2px black;
  height: 120vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  justify-content: space-between;
}

.gallery_heading{
  box-shadow: 0px 0px 10px 2px black
}

.red_dots_gallery{
  position: absolute;
  top: 230px;
  right: 0;
}

.red_blue_circle_gallery{
  position: absolute;
  top: 210px;
  left: 120px;
}

.green_plus_gallery{
  position: absolute;
  top: 270px;
  left: 30px;
}

.blue_star_gallery{
  position: absolute;
  top: 250px;
  right: 100px;
}

.filter {
  margin: 20px;
  text-align: start;
  left: 0;
}

.filter select {
  padding: 10px;
  font-size: 1rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.gallery_cards_horizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75vw;
}

.event-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  border: black solid 3px;
  width: 350px;
  height: 500px;
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
}

.event-card img {
  width: 310px;
  height: 420px;
  border-radius: 8px;
  border: 2px solid black;
}

.event-card h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

#card_1{
  background-color: #4186f45a;
}

#card_2{
  background-color: #e822364d;
}

#card_3{
  background-color: #0f9c5857;
}

footer{
  z-index: 35;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.foot_title{
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.foot_logo{
  width: 150px;
  height: 75px;
  margin-right: 30px;
}

.foot_heads{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.foot_gdg{
  font-size: 3rem;
  font-weight: 700;
}

.foot_iiit{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 5px;
}

.foot_mail{
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mail{
  font-size: 1.25rem;
  font-weight: 500;
}

.foot_socials{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.foot_img{
  height: 50px;
  width: 50px;
}

.mail_img{
  height: 30px;
  width: 30px;
}
