* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
}

.videos-strip img{
    width: 100vw;
    left: 0;
}

.videos-section {
    text-align: center;
    padding: 20px;
}

.heading {
    font-size: 4vw;
    color: #000000; 
}

h2 {
    font-size: 2vw;
    color: #000000; 
    margin: 20px 0;
    left: 0;
}

.main-video {
    position: relative;
    margin: 20px 0;
}

.main-video iframe {
    width: 60vw; /* Responsive width */
    height: 55vh; /* Responsive height */
    border: none;
}

.video-info {
    text-align: left;
    margin-top: 10px;
}

.video-title {
    font-weight: bold;
}

.video-date {
    font-style: italic;
}

.youtube-link {
    color: #1976d2; /* Link color */
    text-decoration: none;
}

.description {
    margin: 2vh 15vw;
    font-size: 1.2vw;
}

.video-thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail {
    cursor: pointer;
    margin: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail img {
    width: 16vw; /* Set thumbnail size */
    height: 9vw;
    border-radius: 5px; /* Rounded corners */
    padding: 2.5vh;
}

.thumbnail p {
    margin-top: 5px;
}

.talks {
    color: #0F9C57;
    font-weight: bolder;
    font-size: 3vh;
}

.headline {
    color: #F9BA03;
    font-weight: bolder;
    font-size: 3vh;
}

.recap {
    color: #E24234; 
    font-weight: bolder;
    font-size: 3vh;
}

.workshops {
    color: #4186F3;
    font-weight: bolder;
    font-size: 3vh;
}

/* Media Queries for responsiveness */

@media (max-width: 1024px) {
    .heading {
        font-size: 6vw;
    }

    h2 {
        font-size: 3vw;
    }

    .main-video iframe {
        width: 80vw;
        height: 45vh;
    }

    .description {
        margin: 2vh 5vw;
        font-size: 1.5vw;
    }

    .thumbnail img {
        width: 20vw;
        height: 11vw;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 7vw;
    }

    h2 {
        font-size: 4vw;
    }

    .main-video iframe {
        width: 90vw;
        height: 40vh;
    }

    .description {
        margin: 2vh 3vw;
        font-size: 1.8vw;
    }

    .thumbnail img {
        width: 25vw;
        height: 14vw;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 9vw;
    }

    h2 {
        font-size: 5vw;
    }

    .main-video iframe {
        width: 95vw;
        height: 35vh;
    }

    .description {
        margin: 2vh 2vw;
        font-size: 2vw;
    }

    .thumbnail img {
        width: 35vw;
        height: 20vw;
    }
}
